# Project 2 **Book Recomendation system**

In [2]:
!pip install pandas
!pip install numpy

Requirement already satisfied: pandas in c:\users\asus\anacoda\lib\site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\asus\anacoda\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\asus\anacoda\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\asus\anacoda\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\asus\anacoda\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\asus\anacoda\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: numpy in c:\users\asus\anacoda\lib\site-packages (1.26.4)

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [2]:
books=pd.read_csv(r'C:\Users\Asus\BOOK RECOMMENDATION SYSTEM\BookRecommendationSystem-main\books_data_set\books.csv',sep=';',on_bad_lines='warn',encoding='latin-1')
print("file read sucefully ")

file read sucefully

In [3]:
books.head(2)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...

In [4]:
books.iloc[250][['Image-URL-L', 'Image-URL-M']]

Image-URL-L    http://images.amazon.com/images/P/1558744150.0...
Image-URL-M    http://images.amazon.com/images/P/1558744150.0...
Name: 250, dtype: object

In [5]:
books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271360 entries, 0 to 271359
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ISBN                 271360 non-null  object
 1   Book-Title           271360 non-null  object
 2   Book-Author          271358 non-null  object
 3   Year-Of-Publication  271360 non-null  object
 4   Publisher            271358 non-null  object
 5   Image-URL-S          271360 non-null  object
 6   Image-URL-M          271360 non-null  object
 7   Image-URL-L          271357 non-null  object
dtypes: object(8)
memory usage: 16.6+ MB

In [6]:
books.drop(['Image-URL-M', 'Image-URL-S'], axis=1, inplace=True, errors='ignore')

In [7]:
books.head(1)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...

In [8]:
books.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-L'],
      dtype='object')

In [9]:
books.rename(columns={
     'Book-Title':'title', 
     'Book-Author':'author',
       'Year-Of-Publication':'year',
       'Image-URL-L':'image'
},inplace=True)

In [10]:
books.head()

,ISBN,title,author,year,Publisher,image
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...

In [11]:
users=pd.read_csv(r'C:\Users\Asus\BOOK RECOMMENDATION SYSTEM\BookRecommendationSystem-main\books_data_set\users.csv',sep=';',on_bad_lines='warn',encoding='latin-1')
print("done")

done

In [12]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278858 entries, 0 to 278857
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   User-ID   278858 non-null  int64
 1   Location  278858 non-null  object
 2   Age       168096 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 6.4+ MB

In [13]:
ratings=pd.read_csv(r'C:\Users\Asus\BOOK RECOMMENDATION SYSTEM\BookRecommendationSystem-main\books_data_set\ratings.csv',sep=';',on_bad_lines='warn',encoding='latin-1')

In [14]:
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

added portion

In [18]:
print(books.shape)
print(ratings.shape)
print(users.shape)

(271360, 6)
(1149780, 3)
(278858, 3)

In [19]:
books.isnull().sum()

ISBN         0
title        0
author       2
year         0
Publisher    2
image        3
dtype: int64

In [20]:
users.isnull().sum()

User-ID          0
Location         0
Age         110762
dtype: int64

In [21]:
ratings.isnull().sum()

id        0
ISBN      0
rating    0
dtype: int64

In [23]:
books.duplicated().sum()

np.int64(0)

In [24]:
users.duplicated().sum()

np.int64(0)

In [25]:
ratings.duplicated().sum()

np.int64(0)

In [15]:
ratings.rename(columns={
    'User-ID':'id',
    'Book-Rating':'rating'
},inplace=True)

In [16]:
print(books.columns,users.columns,ratings.columns,sep='\n')

Index(['ISBN', 'title', 'author', 'year', 'Publisher', 'image'], dtype='object')
Index(['User-ID', 'Location', 'Age'], dtype='object')
Index(['id', 'ISBN', 'rating'], dtype='object')

In [17]:
ratings['id'].value_counts()

id
11676     13602
198711     7550
153662     6109
98391      5891
35859      5850
          ...
119573        1
276706        1
276697        1
276679        1
276676        1
Name: count, Length: 105283, dtype: int64

In [43]:
x=ratings['id'].value_counts()>250
print(x)

id
11676      True
198711     True
153662     True
98391      True
35859      True
          ...
116180    False
116166    False
116154    False
116137    False
276723    False
Name: count, Length: 105283, dtype: bool

In [44]:
y=x[x].index
print(y)

Index([ 11676, 198711, 153662,  98391,  35859, 212898, 278418,  76352, 110973,
       235105,
       ...
        86641, 141901, 124079, 201447, 179772, 155014, 140036, 211430,  18067,
       160032],
      dtype='int64', name='id', length=693)

In [45]:

new_ratings=ratings[ratings['id'].isin(y)]

In [46]:
ratings_with_books=ratings.merge(books,on='ISBN')
ratings_with_books.head()

,id,ISBN,rating,title,author,year,Publisher,image
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...
1,2313,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...
2,6543,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...
3,8680,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...
4,10314,034545104X,9,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...

In [47]:
rating_num=ratings_with_books.groupby('title') ['rating'].count()
rating_num.head(2)

title
 A Light in the Storm: The Civil War Diary of Amelia Martin, Fenwick Island, Delaware, 1861 (Dear America)    4
 Always Have Popsicles                                                                                        1
Name: rating, dtype: int64

In [48]:
final_rating=ratings_with_books.merge(rating_num,on='title')
final_rating.head(1)

,id,ISBN,rating_x,title,author,year,Publisher,image,rating_y
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,60

In [49]:
final_rating=final_rating[final_rating['rating_y']>=50]
final_rating.tail()

,id,ISBN,rating_x,title,author,year,Publisher,image,rating_y
730560,227447,0061092096,0,Love in Another Town,Barbara Taylor Bradford,1996,HarperTorch,http://images.amazon.com/images/P/0061092096.0...,68
730561,231210,0061092096,0,Love in Another Town,Barbara Taylor Bradford,1996,HarperTorch,http://images.amazon.com/images/P/0061092096.0...,68
730562,238781,0061092096,5,Love in Another Town,Barbara Taylor Bradford,1996,HarperTorch,http://images.amazon.com/images/P/0061092096.0...,68
730563,244349,0061092096,0,Love in Another Town,Barbara Taylor Bradford,1996,HarperTorch,http://images.amazon.com/images/P/0061092096.0...,68
730564,258352,0061092096,0,Love in Another Town,Barbara Taylor Bradford,1996,HarperTorch,http://images.amazon.com/images/P/0061092096.0...,68

In [50]:
final_rating.drop_duplicates(['id','title'],inplace=True)

In [51]:
#books_pivot=final_rating.pivot_table(columns='id',index='title',values='rating_x')
#books_pivot.head()
books_pivot = final_rating.pivot_table(columns='id', index='title', values='rating_x')
books_pivot.head()

id,8,9,14,16,17,19,23,26,32,39,...,278820,278824,278828,278832,278836,278843,278844,278846,278851,278854
title,,,,,,,,,,,,,,,,,,,,,
10 Lb. Penalty,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16 Lighthouse Road,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1st to Die: A Novel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010: Odyssey Two,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [52]:
books_pivot = final_rating.pivot_table(columns='id', index='title', values='rating_x') 
#books_pivot=books_pivot.fillna(0)
#books_pivot.head()
books_pivot = books_pivot.fillna(0)
print(type(books_pivot))

<class 'pandas.core.frame.DataFrame'>

In [53]:
from scipy.sparse import csr_matrix

In [54]:
books_sparse=csr_matrix(books_pivot)
books_sparse

<2444x47994 sparse matrix of type '<class 'numpy.float64'>'
	with 113444 stored elements in Compressed Sparse Row format>

In [55]:
from sklearn.neighbors import NearestNeighbors
from scipy.sparse import csr_matrix

model=NearestNeighbors(algorithm='brute')
model.fit(books_sparse)

NearestNeighbors(algorithm='brute')

In [56]:
distance,indexes=model.kneighbors(books_pivot.iloc[200,:].values.reshape(1,-1),n_neighbors=5)

In [57]:
for i in range (len(indexes)):
    print(books_pivot.index[indexes[i]])

Index(['Babyhood', 'Ground Zero and Beyond', 'A Secret Affair',
       'The Legend of Bagger Vance', 'The Blooding'],
      dtype='object', name='title')

In [58]:
distance,suggestion=model.kneighbors(books_pivot.iloc[237,:].values.reshape(1,-1),n_neighbors=6)

In [59]:
for i in range(len(suggestion)):
    print(books_pivot.index[suggestion[i]])

Index(['Beloved (Plume Contemporary Fiction)', 'Reasonable Doubt',
       'The Blooding', 'Ground Zero and Beyond', 'A Secret Affair',
       'Blood and Gold (Rice, Anne, Vampire Chronicles.)'],
      dtype='object', name='title')

In [61]:
import pickle

# Save the model
pickle.dump(model, open('lecturenotesmodel.pkl', 'wb'))

# Save the book names
pickle.dump(books, open('lecturenotesbooknames.pkl', 'wb'))

# Save the final rating
pickle.dump(final_rating, open('lecturenotesfinal_rate.pkl', 'wb'))

# Save the books pivot
pickle.dump(books_pivot, open('lecturenotesbook_pivot.pkl', 'wb'))
print("done")

done